$bg: #f4f4f4;
$white: #ffffff;
$radius: 8px;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
  font-size: 10px;
}

body {
  font-family: Arial, sans-serif;
  background: $bg;
  padding: 20px;
  font-family: 'Roboto';
  position: relative;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.image {
    position: fixed;
    width: 210rem;
    z-index: 1;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block {
  display: flex;
  flex-direction: column;
  flex: 0 1 55rem;
  background: $white;
  padding: 2rem;
  margin-bottom: 20px;
  border-radius: $radius;
  max-width: 55rem;
  z-index: 3;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin: 8px 0;
    font-size: 2rem;
    font-weight: 400;
  input {
    margin-top: 4px;
    padding: 5px;
    width: 100%;
    font-size: 2rem;
    font-weight: 400;

  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;

  input {
    width: auto;
  }
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
    font-weight: 400;
    font-size: 2rem;
}

span {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

h4 {
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

.result {
  margin-top: 10px;
  font-weight: bold;
  white-space: pre-line;
}

.c_cash {
    font-size: 2rem;
    
}
.num {
    font-size: 2rem;
}

.day {
  margin-left: 15px;
}

@media (max-width: 755px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}